version: 2.1

jobs:
  build-and-test:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - run:
          name: "Run Maven tests"
          command: mvn clean test
      - run:
          name: "Push to main if tests pass"
          command: |
            git config --global user.email "circleci@example.com"
            git config --global user.name "CircleCI"
            git remote set-url origin https://$GH_TOKEN@github.com/username/repo.git
            git checkout main
            git merge $CIRCLE_BRANCH
            git push origin main

workflows:
  build-and-deploy:
    jobs:
      - build-and-test
