version: 2.1

jobs:
  build-and-test:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      # Run Maven tests
      - run:
          name: "Run Maven tests"
          command: mvn clean test
      # Push to main branch if tests pass
      - run:
          name: "Merge circleci-project-setup into main and push"
          command: |
            git config --global user.email "jolethetrole@gmail.com"
            git config --global user.name "joelshrestha-dev"
            git remote set-url origin https://$GH_TOKEN@github.com/joelshrestha-dev/Travis412.git
            git checkout main
            git merge circleci-project-setup
            git push origin main
      # Notify via email if tests fail
      - run:
          name: "Notify if tests fail"
          command: |
            if [ $? -ne 0 ]; then
              echo "CircleCI Build Failed" | mail -s "CircleCI Build Failed" jolethetrole@gmail.com
            fi

workflows:
  build-and-deploy:
    jobs:
      - build-and-test
